/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common styles */
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    background-color: #f3f1f3;
}
.contaner{
    width: 1000px;
    margin: 0 auto;
}
/*---------------------
     banner style
-------------------- */
.section-1{
    background-color: rgb(40, 40, 145);
}
.section-1:hover .button a{
    padding: 20px 34px;
    font-size: 26px;
    
    
    
}
.section-wallpaper{
    display: flex;
    justify-content: space-between;
}
h1{
    font-size: 55px;
    font-weight: 700;
    color: white;
}
.half-width .half-img{
    width: 50%;
}
.half-width a{
    text-decoration: none;
    color: white;
    background-color: #E02C6D;
    padding: 10px 24px;
    font-size: 16px;
    transition: 4s;
}

.half-img img{
    width: 100%;
    margin-left: 20px;
}

    /* -----------------------
    players block
    --------------------- */

.all-players{
    display: grid;
    grid-template-columns: repeat(3, 360px);
    margin: 70px;
    margin-left: 160px;
   
}
.player{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 330px;
    height: 474px;
    margin-right: 30px;
    margin-bottom: 27px;
    border-radius: 2px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    
}
.thumbail img{
    width: 300px;
    height: 256px;
    padding: 15px;
}
.player-info{
    width: 300px;
    height: 154px;

}
/*-------------------
     Ind section
 ----------------- */
 
 .logo-img{
     display: flex;
     justify-content: center;
 }

 .logo-img img{
    width: 483.87px;
    height: 110px;
 }
 .cr-icon{
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-top: 20px;
     margin-bottom: 50px;
 }
 .icon-img img{
     width: 30px;
     height: 30px;
 }

 /*---------------
     other  section
     ------------------- */

.video-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2{
    font-size: 45px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
}
.text{
    margin: 50px;
    margin-left: 400px;
    margin-right: 300px;
}

 /*-------------------------
         Media Queries
   -------------------------- */

   /*--------
    Mobile devices
    ------- */

    @media only screen and (max-width:688px) {
       /* common style */
    .container .all-players .player{
        width: 100%;
    }
     /* section-1 style */
     .section-1{
        padding: 0px;
    }
    .section-wallpaper{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .half-width h1{
        font-size: 46px;
        margin: 30px 0px;
        padding: 20px;
    }
    .half-width{
        width: 40%;
    }
    .half-img{
        width: 45%;
        margin: 40px 0px;
    }
    .half-img img{
        width: 100%;
    }  
    /* ------------------------------------ */
    /* section-2 players style */
    .all-players{
       display: flex;
       flex-direction: column;
        align-items: center;
    }

    /*----------
     Ind section
    ------------- */
    .logo-img{
        display: flex;
        flex-direction: column;
    }
    .cr-icon{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 50px;
    }


